body {
    background-color: beige;
}

.menu {
    padding: 1em;
    background-color: #0D0D0D;
    display: flex;
    justify-content: space-between;
}

.menu-right {
    justify-self: right;
}

.menu-left {
    justify-self: left;
}

.content {
    margin: 4em;
}


.product-img {
    width: 200px;
    height: 250px;
}


.product-info {
    width: 58%;
    margin-bottom: 2rem;
}

.product-info-container {
    min-height: 200px;
    border-radius: 16px;
    background: #16222A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3A6073, #16222A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3A6073, #16222A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}

.user-button {
    background-color: #D96E48;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 32px;
    font-family: "Madimi One", sans-serif;
}

.user-button:hover {
    background-color: #F29D52;
}

.buy-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #F29D52;
    color: white;
    text-decoration: none;
    border-radius: 16px;
    font-family: "Madimi One", sans-serif;
}

.buy-button:hover {
    background-color: #D96E48;
}

.logo {
    height: 50px;
    width: 100%;
}


.order-quantity-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.quantity-selector {
    display: flex;
    align-items: center;
}


.add-to-cart-button {
    padding: 0.75rem 2rem;
    color: white;
    background-color: #D96E48;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    font-family: "Madimi One", sans-serif;
}

.add-to-cart-button:hover {
    background-color: #F29D52;
}

.form{
    max-height: 300px;
    max-width: 600px;
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 2em;
    border-radius: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container{
    height: calc(100vh - 5.4em);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #16222A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3A6073, #16222A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3A6073, #16222A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.backgorund{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #16222A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3A6073, #16222A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3A6073, #16222A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}